@import "tailwindcss";

.debug {
  @apply border border-red-500;
}

@theme inline {
  --color-foreground: var(--color-white);
  --color-background: var(--color-black);
  --color-primary: var(--color-blue-800);

  --font-sans: "Karla", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-background text-foreground;
}

h1 {
  @apply text-lg md:text-3xl;
}

h2 {
  @apply md:text-lg;
}

.fullscreen {
  @apply min-h-[calc(100lvh-120px)] w-full;
}
